* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



a {
    text-decoration: none;
    color: #3a6cf4;
    font-weight: 700;
}

a:hover {
    color: #601cfc;
}

body {
    background: url(/images/background-2.jpg);
    min-height: 100vh;
}

::-webkit-scrollbar {
    display: none;
}

header {
    display: flex;
    align-items: center;
    z-index: 999;
    width: 100%;
    height: 90px;
}

.header--inner {
    display: flex;
    align-items: baseline;
    padding-block: 1em;
}

.logo-item {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8em;
}

.nav {
    margin-inline: auto;
}

.nav--inner {
    display: flex;
    justify-content: center;
    gap: 2em;
    text-transform: uppercase;
    font-size: 1.3em;
}

.logIn {
    margin-left: 60px;
}

.auth-item {
    width: 80px;
    height: 34px;
    background-color: #3a6cf4;
    color: #ccc;
    border: none;
    border-radius: 40px;
    font-size: 1em;
    font-weight: 600;
}

.auth-item:hover {
    transform: scale(1.1);
    transition: transform .5s ease;
    color: #fff;
}

.auth-item:not(:hover) {
    transform: scale(1);
    transition: transform .5s ease;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-item p {
    margin-inline: 10px;
    margin-bottom: 0;
}

.nav-item:hover {
    transform: scale(1.1);
    transition: transform .5s ease;
}

.nav-item:not(:hover) {
    transform: scale(1);
    transition: transform .5s ease;
}

.logo:hover {
    transform: scale(1.1);
    transition: transform .5s ease;
}

.logo:not(:hover) {
    transform: scale(1);
    transition: transform .5s ease;
}

/* For TOP */
.top {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(100vh - 90px);
    background: url(/images/top1.png);
    background-position: bottom right;
    background-size: 48%;
    background-repeat: no-repeat;
}

.top--inner {
    position: relative;
    transform: translateY(-50%);
}

.top--inner h1 {
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 10px;
}

.top-text {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    max-width: 55%;
}

/* For contacts */

.contacts {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.contacts--inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-items: center;
}

.contacts h1 {
    color: #4e9eff;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}


.card {
    background-color: #222;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 55%);
    border-radius: 20px;
    padding: 25px;
    margin: 15px;
    transition: 0.5s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #3a6cf4;
    font-size: 7em;
    text-align: center;
}

.card a {
    text-decoration: none;
}

.card p {
    font-size: 1.2em;
}

.info {
    color: #fff;
    text-align: center;
}

.info h3 {
    color: #4e9eff;
}


/* For ABOUT */
.about {
    display: flex;
    align-items: center;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.about--inner {
    padding: 30px;
    border-radius: 50px;
    background-color: #222;
    margin-top: 10px;
}

.about--inner h1 {
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

.about-text {
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
}

hr {
    color: #fff;
    border: 1px solid;
}

/* For Skills */

.skills {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.skills--inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-items: center;
}

.skills h1 {
    color: #4e9eff;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

.skills-info {
    color: #fff;
    margin-top: 12px;
    text-align: center;
}

/* For projects */
.projects-app h1 {
    color: #4e9eff;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

.projects-app--inner {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(500px, 3fr));
}

.project-img {
    max-width: 450px;
    border-radius: 30px;
}

.project-info p {
    margin-block: 30px 0;
    font-size: 20px;
}

.project-card {
    background-color: #222;
    box-shadow: 0 5px 25px rgba(1 1 1 / 55%);
    border-radius: 20px;
    padding: 25px;
    margin: 15px;
    transition: 0.5s ease;
}

.project-card:hover {
    transform: scale(1.1);
}

/* For toDo */

.form-control {
    display: inline-block;
    margin: 20px auto;
    border: 2px solid #eee;
    padding: 10px 20px;
    border-radius: 20px;
}

.tdItem {
    text-align: left;
    padding: 10px;
    cursor: default;
    border-radius: 7px;
}

.tdItem:hover {
    background-color: rgba(0, 136, 255, 0.55);
}

.todo__caption {
    text-align: center;
    font-weight: 600;
}

.todo-app {
    margin-top: 100px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    min-height: 500px;
    background-color: #eee;
    border-radius: 30px;
    width: 500px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.todo-container {
    display: block;
    position: relative;
}

.todo-container h1 {
    color: #4e9eff;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

.section {
    display: none;
}

.active {
    display: block;
}

.dropdown {
    list-style: none;
}

.dropdown-menu {
    transform: translate3d(-98.5px, 36px, 0px) !important;
    border-radius: 15px;
}

.dropdown-menu-log_in {
    border-radius: 15px;
    transform: translate3d(-50px, 50px, 0px) !important;
}

.dropdown-item-log_in {
    text-align: center;
}

.dropdown-item-log_in:hover {
    background-color: rgba(0, 136, 255, 0.55);
}

.dropdown-toggle-log_in {
    list-style: none !important;
    background-color: #222;
    padding: 10px;
    border-radius: 10px;
}

/* For modal */
.logIn-container {
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 350px;
    height: auto;
    /* Укажите желаемую ширину */
    border-radius: 30px;
}

.modal-content {
    text-align: center;
    border: none;
}

.closeModal {
    display: flex;
    justify-content: end;
    cursor: pointer;
    font-weight: bold;
    padding-left: 15px;
    font-size: 2em;
}

#registerForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#registerForm,
#loginForm{
    margin-bottom: 50px;
}

.btn-primary{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.user-name {
    padding-inline: 10px;
}

/* For Schedule */
.schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schedule-container {
    max-width: 80%;
}

.schedule-container h1 {
    color: #4e9eff;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

.schedule-app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #eee;
    border-radius: 30px;
    height: 720px;
    width: 100%;
    text-align: center;
    grid-gap: 1em;
    row-gap: 3em;
    padding: 1em;
    overflow-y: scroll;
}

table {
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    height: 100%;
    width: 100%;
}

th,
td {
    padding: 1em;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}


/* For My City */
.myCity-container h1 {
    color: #4e9eff;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

.carousel-item img {
    border-radius: 30px;
}

#overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /* Здесь задайте цвет оверлея и его прозрачность */
    z-index: 3;
    transition: all .7s ease;
}

.overlay--visible {
    display: block;
    opacity: 1;
}

/* For Footer */
.footer {
    position: fixed;
    color: #fff;
    padding-inline: 1em;
    width: 100%;
    bottom: 0;
}

.footer-title {
    font-size: 1em;
    font-weight: 600;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}



/* Form nav-btn */
.mobile-nav--inner_open .menu-item {
    margin-bottom: 30px;
}

.mobile-nav-item {
    color: #3a6cf4;
}

.mobile-btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 50px;
    background-color: transparent;
    margin: 30px 30px 0;
    border: none;
    padding: 0;
    cursor: pointer;
}



.mobile-nav {
    display: none;
}

.mobile-btn-item {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #717171;
    height: 5px;
    border-radius: 5px;
    transition: .3s ease;
    z-index: 4;
}

.mobile-btn:hover {
    .mobile-btn-item {
        background-color: #fff;
        transform: scale(110%);
        transition: transform .2s ease;
    }
}

.mobile-btn-item:nth-child(1) {
    top: 0;
}

.mobile-btn-item:nth-child(2) {
    top: 15px;
}

.mobile-btn-item:nth-child(3) {
    top: 15px;
}

.mobile-btn-item:nth-child(4) {
    top: 30px;
}

.mobile-nav--open .mobile-btn-item:nth-child(1) {
    display: none;
}

.mobile-nav--open .mobile-btn-item:nth-child(2) {
    transform: rotate(45deg);
}

.mobile-nav--open .mobile-btn-item:nth-child(3) {
    transform: rotate(-45deg);
}

.mobile-nav--open .mobile-btn-item:nth-child(4) {
    display: none;
}

.dropdown-divider {
    opacity: 0.1;
}

@media (max-width: 1500px) {

    /* For schedule */
    .schedule-app {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 1200px) {
    .nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .mobile-nav-item-divider {
        width: 100%;
    }

    .mobile-nav--inner {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        padding: 150px 0 0 0;
        margin: 0;
        gap: 15px;
        background-color: #0a0a0a;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 250px;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        z-index: 3;
        list-style: none;
    }

    .mobile-nav--inner_open {
        transform: translateX(0);
    }

    .mobile-btn {
        display: inline-block;
    }

    /* Top Adaptation */
    .top {
        background: none;
    }

    /* Schedule Adaptation */
    .schedule-container {
        max-width: 100%;
    }
}

@media (max-width: 600px) {

    /* Top Adaptation */
    .top-text {
        max-width: 100%;
    }

    /* Project Adaptation */
    .project-img {
        max-width: 250px;
        border-radius: 30px;
    }

    .project-info p {
        margin-block: 30px 0;
        font-size: 16px;
        width: 100%;
    }

    .projects-app--inner {

        grid-template-columns: auto;
    }

    /* ToDo Adaptation */
    .todo-app {
        margin-top: 50px;
        background-color: #eee;
        border-radius: 30px;
        max-width: 80%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .tdlApp {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-control {
        max-width: 80%;

    }
}